{% extends "layout.html" %}
{% block link %}
<link rel="stylesheet" href="../static/css/input.css"/>
{% endblock %}
{% block content %}

<div align="center" class="alert-success" role="alert">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
<div class="container">
    <br>
    <a href="/report_list" ><i class="bi bi-arrow-left-circle-fill" style="font-size: 2rem;"></i> </a>
    <br>
</div>
<div class="container">
    <div class="jumbotron p-3">
        <form method="POST" action="{{ url_for('input') }}">
            <div>
                <h1 align="center">DAFTAR MAKLUMAT PROJEK</h1>
            </div>
            <hr>
            <br>
            <div class="container mb-4">
                <div class="row g-3 align-items-center">
                    <div class="col-4">
                        <label for="sumber_peruntukan" class="form-label">SUMBER PERUNTUKAN:</label>
                    </div>
                    <div class="col-auto">
                        <select class="form-control" id="sumber_peruntukan" name="sumber_peruntukan">
                            <option selected>Sila Pilih</option>
                            <option value="PERSEKUTUAN">PERSEKUTUAN</option>
                            <option value="NEGERI">NEGERI</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="container mb-4" align="center">
                <div class="row g-3 align-items-center">
                    <div class="col-4">
                        <label for="kampung" class="form-label">KAMPUNG :</label>
                    </div>
                    <div class="col-4">
                        <select class="form-control" id="kampung" name="kampung">
                            <option selected>Sila Pilih</option>
                            {% for y in kg %}
                            <option value="{{y.0}}">{{y.1}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="container mb-4" align="center">
                <div class="row g-3 align-items-center">
                    <div class="col-4">
                        <label for="sebutharga" class="form-label">NO. SEBUTHARGA :</label>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" id="sebutharga" name="sebutharga" placeholder="">
                    </div>
                </div>
            </div>

            <div class="container mb-4" align="center">
                <div class="row g-3 align-items-center">
                    <div class="col-4">
                        <label for="suratkuasa_waran" class="form-label">NO. SURATKUASA / WARAN :</label>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" id="suratkuasa_waran" name="suratkuasa_waran" placeholder="">
                    </div>
                </div>
            </div>

            <div class="container mb-4" align="center">
                <div class="row g-3 align-items-center">
                    <div class="col-4">
                        <label for="nama_projek" class="form-label">NAMA PROJEK :</label>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" id="nama_projek" name="nama_projek" placeholder="">
                    </div>
                </div>
            </div>

            <div class="container mb-4" align="center">
                <div class="row g-3 align-items-center">
                    <div class="col-4">
                    <label for="rujukan" class="form-label">NO. RUJUKAN PERUNTUKAN :</label>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" id="rujukan" name="rujukan" placeholder="">
                    </div>
                </div>
            </div>

            <div class="container mb-4" align="center">
                <div class="row g-3 align-items-center">
                <div class="col-4">
                   <label for="kontraktor" class="form-label">KONTRAKTOR :</label>
                </div>
                    <div class="col-6">
                         <input type="text" class="form-control" id="kontraktor" name="kontraktor" placeholder="">
                    </div>
                </div>
            </div>

            <div class="container mb-4" align="center">
                <div class="row g-3 align-items-center">
                    <div class="col-4">
                        <label for="peruntukan_diluluskan" class="form-label">PERUNTUKAN DILULUSKAN :</label>
                    </div>
                    <div class="col-6">
                         <input type="text" class="form-control" id="peruntukan_diluluskan" name="peruntukan_diluluskan" placeholder="">
                    </div>
                </div>
            </div>

            <div class="container mb-4" align="center">
                <div class="row g-3 align-items-center">
                    <div class="col-4">
                       <label for="bayar" class="form-label">BAYAR(RM) :</label>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" id="bayar" name="bayar" placeholder="">
                    </div>
                </div>
            </div>

            <div class="container mb-4" align="center">
                <div class="row g-3 align-items-center">
                    <div class="col-4">
                      <label for="tawaran" class="form-label">TARIKH TAWARAN :</label>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" id="tawaran" name="tawaran" placeholder="">
                    </div>
                </div>
            </div>

            <div class="container mb-4" align="center">
                <div class="row g-3 align-items-center">
                    <div class="col-4">
                            <label for="milik_tapak" class="form-label">TARIKH MILIK TAPAK :</label>
                    </div>
                    <div class="col-6">
                         <input type="text" class="form-control" id="milik_tapak" name="milik_tapak" placeholder="">
                    </div>
                </div>
            </div>

            <div class="container mb-4" align="center">
                <div class="row g-3 align-items-center">
                    <div class="col-4">
                         <label for="tempoh_siap" class="form-label">TEMPOH SIAP :</label>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" id="tempoh_siap" name="tempoh_siap" placeholder="">
                    </div>
                </div>
            </div>


            <div class="container mb-4" align="center">
                <div class="row g-3 align-items-center">
                    <div class="col-4">
                         <label for="jangkaan_siap" class="form-label">TARIKH JANGKAAN SIAP :</label>
                    </div>
                    <div class="col-6">
                         <input type="text" class="form-control" id="jangkaan_siap" name="jangkaan_siap" placeholder="">
                    </div>
                </div>
            </div>


            <div class="container mb-4" align="center">
                <div class="row g-3 align-items-center">
                    <div class="col-4">
                         <label for="sebenar_siap" class="form-label">TARIKH SEBENAR SIAP :</label>
                    </div>
                    <div class="col-6">
                         <input type="text" class="form-control" id="sebenar_siap" name="sebenar_siap" placeholder="">
                    </div>
                </div>
            </div>


            <div class="container mb-4" align="center">
                <div class="row g-3 align-items-center">
                    <div class="col-4">
                         <label for="status" class="form-label">STATUS :</label>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" id="status" name="status" placeholder="">
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <div class="row">
                <div class="col-9"></div>
                <div class="col-auto">
                    <form action="" method="post" autocomplete="off">
                        <div class="row">
                            <div class="col-auto"></div>
                            <div class="float-right" align="right">
                                <button type="submit"  class="btn bg-primary" style="color:white;">SIMPAN</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </form>
    </div>
</div>
<br>
<br>
{% endblock content %}


